input[type=radio] {
    display:none;
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin: 1px;
    padding: 4px 12px;
    background-color: #C2D3DA;
    border-color: #ddd;
    cursor: pointer;
}

input[type=radio]:checked + label {
    background-image: none;
    background-color:#d0d0d0;
    color: steelblue;
}
